<%= form_for(@rezerwacja) do |f| %>
  <% if @rezerwacja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rezerwacja.errors.count, "error") %> prohibited this rezerwacja from being saved:</h2>

      <ul>
      <% @rezerwacja.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
