<h1>Rezerwacje filmu "<%= @film.tytul %>"</h1>

<table>
  <tr>
    <th>Termin:</th>
    <th>Imie i nazwisko:</th>
  </tr>

<% @rezerwacje.each do |rezerwacja| %>
  <tr>
    <td><%= rezerwacja.termin %></td>
    <td><%= rezerwacja.imie + " " + rezerwacja.nazwisko %></td>
    <td><%= link_to 'Usuń', kino_film_projekcja_rezerwacja_path(@film.kino.id, @film.id, @projekcja.id, rezerwacja.id), method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
  </tr>
<% end %>
</table>
