<h1>Rezerwacja nr <%= @rezerwacja.id %></h1>

<table>
  <tr>
    <th>Termin:</th>
    <th>Imie i nazwisko:</th>
  </tr>

  <tr>
    <td><%= @rezerwacja.termin %></td>
    <td><%= @rezerwacja.imie + " " + @rezerwacja.nazwisko %></td>
  </tr>
</table>
<%= link_to 'Powrót', kino_film_url(@kino.id) %>