<h1>Rezerwacje filmu "<%= @movie.tytul %>"</h1>

<table>
  <tr>
    <th>Termin:</th>
    <th>Imie i nazwisko:</th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.termin %></td>
    <td><%= booking.imie + " " + booking.nazwisko %></td>
    <td><%= link_to 'Usuń', cinema_movie_projection_rezerwacja_path(@movie.cinema.id, @movie.id, @projection.id, booking.id), method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
  </tr>
<% end %>
</table>
