<h1>Lista seansów dla <%= @film %></h1>

<table>
  <tr>
    <th>Data:</th>
    <th>Godzina:</th>
    <th></th>
  </tr>

  <% if !@projekcje.nil? %>
    <% @projekcje.each do |projekcja| %>
      <tr>
        <td><%= projekcja.data %></td>
        <td><%= projekcja.godzina %></td>
        <td><%= link_to 'Rezerwuj', '' %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br />
