<%= form_for(@kino) do |f| %>
  <% if @kino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kino.errors.count, "error") %> prohibited this kino from being saved:</h2>

      <ul>
      <% @kino.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
