<h1>Filmy w kinie <%= @kino.nazwa %></h1>

<table>
  <tr>
    <th>Rok:</th>
    <th>Tytuł:</th>
    <th></th>
  </tr>

<% @filmy.each do |film| %>
  <tr>
    <td><%= film.rok %></td>
    <td><%= film.tytul %></td>
    <td><%= link_to 'Pokaż godziny seansów', kino_film_path(@kino,film) %></td>
  </tr>
<% end %>
</table>