<h1>Seanse filmu "<%= @film.tytul %>"</h1>

<table>
  <tr>
    <th>Data:</th>
    <th>Godzina:</th>
    <th></th>
  </tr>

<% @projekcje.each do |projekcja| %>
  <tr>
    <td><%= projekcja.data %></td>
    <td><%= projekcja.godzina %></td>
    <td><%= link_to 'Rezerwuj', new_kino_film_projekcja_rezerwacja_path(@film.kino.id, @film.id, projekcja) %></td>
  </tr>
<% end %>
</table>