<p id="notice"><%= notice %></p>
<h1>Rezerwacje filmu "<%= @film.tytul %>"</h1>

<table>
  <tr>
    <th>Termin:</th>
    <th>Imie i nazwisko:</th>
  </tr>

<% @rezerwacje.each do |rezerwacja| %>
  <tr>
    <td><%= rezerwacja.termin %></td>
    <td><%= rezerwacja.imie + " " + rezerwacja.nazwisko %></td>
  </tr>
<% end %>
</table>
